*{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #f1f1f1;
    margin: 0;
}

header{
    background-color: #34328F;
    color: #fff;
    padding: 5px;
    text-align: center;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}


main{
    display: flex;
    padding: 10px;
    background-color: aqua;
    height: 100%;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-color:#fff;
}

.title h1{
    font-size: 32px;
    font-weight: bold;
    color: #34328F;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
}

